/* Acho que as variáveis precisam estar dentro de um seletor
   então eu apliquei a tudo */
*{
    --verde:#288d5e;
    --verde-transparente:#288d5bef;
    --bege:#e9eee7;
    --palha:#cde688;
    --vermelho:#a00d2f;
    --texto-claro:#ffffff;
    --text-escuro:#1b1a1a;
    --escuro:#245c38;
    --claro:#dbddda;
}

/* Usado para forçar a altura da area de conteúdo e deixar o fundo mais escuro */
html, body{
    min-height: 100%;
    margin: 0;
    background-color: var(--claro);
}

/* barra de navegação */
nav{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 70px;
    background-color: var(--verde-transparente);
    position: fixed;
    top: 0;
    box-shadow: 3px 0px 3px 3px var(--escuro);
}

/* Links da barra de navegação e logo */
nav a, nav button {
    float: right;
    margin-left:10px;
    text-decoration:none;
    color: var(--texto-claro);
    padding: 23px;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav a:not(#logo):hover{
    background-color:var(--texto-claro) !important;
    color: var(--text-escuro);
    border-bottom: 4px solid var(--escuro);
}

#logo{
    float: left;
    font-size: 2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: var(--texto-claro);
    padding: 10px;
}

/* Container do conteúdo */
#content{
    min-height: 90vh;
    padding: 25px;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin-top: 100px;
    margin-bottom: 30px;

}
